html {
  scroll-behavior: smooth;
}

.back {
  position: fixed;
  right: 20px;
  bottom: 50px;
  width: 60px;
  height: 60px;
  background-color: #ccc;
  color: white;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  display: block;
  /* 默认显示 */
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.back:hover {
  background-color: #ccc;
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* 头部 */
.header {
  background: url(./88.jpg) no-repeat center/cover;
  height: 300px;
  padding: 15px 20px;
  text-align: center;
  color: rgba(0, 8, 12, 0.8);
  font-size: 100px;
  font-weight: bold;
  letter-spacing: 5px;
  white-space: nowrap;
  line-height: 300px;
  /* 去掉背景图片与盒子的缝隙 */
  background-clip: padding-box;
  margin: 0 auto;
}

/* 导航栏 */
.shortcut {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  background-color: #333;
  z-index: 9999;
}

.shortcut ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 52px;
}

.shortcut li a {
  color: #999;
}

.shortcut li a:hover {
  color: #5EB69C;
}

.shortcut .line {
  height: 12px;
  width: 1px;
  background-color: #999;
  margin: 0 15px;
}

.shortcut li i {
  font-size: 18px;
  margin-right: 5px;
}

/* 底部 */

.footer {
  height: 300px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

/* 关于网页 */
.service-left {
  display: flex;
  /* flex-direction: row; */
  gap: 84px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  text-align: center;
}

.service-left dt {
  font-size: 30px;
  margin-bottom: 30px;

}

.service-left dd {
  margin-bottom: 10px;
}

.service-left dd a {
  color: black;
  transition: color 0.3s ease;
  font-size: 20px;
}

.service-left dd a:hover {
  color: #5EB69C;
}

.service-left dd a i {
  color: #00BE9A;
}

/* 版权模块 */
.copyright {
  text-align: center;
  line-height: 30px;
  color: #A1A1A1;
}

.copyright a {
  color: #A1A1A1;
  transition: color 0.3s ease;
}

.copyright a:hover {
  color: #5EB69C;
}